<div class="container">
    <h1>Autor</h1>

    <a href="/autor/index" class="btn btn-primary">Voltar</a>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="codAu"><b>Código:</b></label>
            <input formControlName="codAu" id="codAu" type="text" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="nome"><b>Nome:</b></label>
            <input formControlName="nome" id="nome" type="text" class="form-control">
            <div *ngIf="c['nome'].touched && c['nome'].invalid" class="alert alert-danger">
                <div *ngIf="c['nome'].errors && c['nome'].errors['required']">
                    O nome é obrigatório.
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Enviar</button>
    </form>
</div>